conf/credentials.py
**/__pycache__/
**/.vscode
**/log.txt
**/*.pyc
*.log
src/twitter-download/user_list
src/clustering/label-propagation/label_propagation_results
SNACES.egg-info/
src/clustering_experiments/data/
