[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
schedule = "*"
python-daemon = "*"
pyyaml = "*"
pymongo = "*"
datetime = "*"
tweepy = "*"
nltk = "*"
argparse = "*"
numpy = "*"
sklearn = "*"
networkx = "*"
snaces = {editable = true,path = "."}

[requires]
python_version = "3.6"
