[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
python-daemon = "*"
schedule = "*"
pyyaml = "*"
pymongo = "*"
pytest = "*"
datetime = "*"
tweepy = "*"
nltk = "*"
numpy = "*"
sklearn = "*"
networkx = "*"
snaces = {editable = true, path = "."}

[requires]
python_version = "3.8"
